{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="w-4/5 m-auto text-left">
        <div class="py-12 border-b border-gray-200">
            <h1 class="text-6xl pt-12 pb-8">
                About our little Library.
            </h1>
            <p class="text-[21px]">
                This library was created by agh university of science and technology computer science 2nd year students and is open to the public.
                The main purpose of the library was thought and built so that people could easily access the books they wanted to read or could not reach, from the digital environment.
                All rights used belong to the students of the university .
                <br>
                <br>
                <b>Supporters:</b>
                <br>
                Workers
                <br>
                5 zloty
                <br>
                Our dear professor Pawel Skrzyński
                <br>
                <br>
                <b>Our partners of the digital library:</b>
                <br>
                Unicef
                <br>
                Steam
                <br>
                UN
            </p>

        </div>
    </div>

    <div class="flex flex-row">
        <img class="basis-1/2"  src="https://4.bp.blogspot.com/-vdGxpupBjbI/VAXwTqx4pdI/AAAAAAAAUBA/f299nI9kphM/s1600/kutuphane_buyuk_eski.jpg" alt="Nature" />
        <img class="basis-1/2"  src="https://i.pinimg.com/originals/08/b7/6e/08b76efb983bcd7e4064110882150724.jpg" alt="Nature" />
    </div>


{% endblock %}